#
# IDEA / IntelliJ
.idea/
*.iml
*.iws
*.ipr

# OS / tools
.DS_Store
Thumbs.db

# Compiled classes / jars
*.class
*.jar
*.war
*.ear

# Gradle wrapper
gradle/wrapper/
gradlew
gradlew.bat

# Others
out/
target/iml
