#
# IDEA / IntelliJ
.idea/
*.iml
*.iws
*.ipr
*.xml

# OS / tools
.DS_Store
Thumbs.db

# Compiled classes / jars
*.class
*.jar
*.war
*.ear
*.bin
*.lock
*.probe

# Gradle wrapper
gradle/wrapper/
gradlew
gradlew.bat

# Others
out/
target/iml
